<!doctype html>
<html lang="sk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Záverečné práce</title>

    <link
      rel="stylesheet"
      href="https://sluzby.fmph.uniba.sk/jds/1.3/jds.css"
    />
    <script src="https://code.iconify.design/iconify-icon/2.3.0/iconify-icon.min.js"></script>
    <script src="https://sluzby.fmph.uniba.sk/jds/1.3/jds.js"></script>
  </head>
  <body>
    <header class="institutional-header institutional-header--large">
      <div class="institutional-header__inner">
        <a href="https://fmph.uniba.sk" aria-label="FMFI UK">
          <img
            class="institutional-header__logo"
            src="https://sluzby.fmph.uniba.sk/jds/1.3/assets/fmfi.svg"
            alt="FMFI UK"
          />
        </a>
      </div>
    </header>

    <nav class="navbar">
      <div class="navbar__inner">
        <a href="/" class="navbar__brand">
          <iconify-icon icon="lucide:printer-check" width="20"></iconify-icon>
          Záverečné práce
        </a>
        <button
          class="navbar__toggle"
          aria-expanded="false"
          aria-controls="main-nav"
        >
          <iconify-icon
            icon="lucide:menu"
            class="navbar__toggle-open"
            width="22"
          ></iconify-icon>
          <iconify-icon
            icon="lucide:x"
            class="navbar__toggle-close"
            width="22"
          ></iconify-icon>
        </button>

        <div class="navbar__nav" id="main-nav">
          {% if username %}<span class="navbar__text">{{ username }}</span>{% endif %}
        </div>
      </div>
    </nav>

    <main class="page-content">
      <div class="container container--padded">
        {% block body %}{% endblock %}
      </div>
    </main>

    <footer class="footer">
      <div class="footer__inner">
        <span>© {{ footer_year }} ŠVT FMFI UK</span>
        <span>
          <a href="mailto:fmfi-svt@googlegroups.com">Pomoc</a>
        </span>
      </div>
    </footer>
  </body>
</html>
